.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}
.section {
  border: 1px solid blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.main {
  border: 1px solid red;
  flex-grow: 1;
}